RewriteEngine On

RewriteRule accueil /views/home.php
RewriteRule ^/?$ accueil
RewriteRule parametres /views/parameters.php
RewriteRule news /views/pages.php?cat=news
RewriteRule tests /views/pages.php?cat=tests
RewriteRule multi /views/pages.php?cat=multi
RewriteRule android /views/pages.php?cat=android
RewriteRule pc /views/pages.php?cat=pc

ErrorDocument 404 /404.php