.darkBackColor {
    background-color: #222;
    color: white;
}

.opac {
    filter: brightness(50%);
}

td.bgred {
    background-color: red;
}

td.bgblue {
    background-color: blue;
}

td.bgyellow {
    background-color: yellow;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.table, .row {
    margin-bottom: 4rem;
}