.darkBackColor {
    background-color: #222;
    color: white;
}

.opac {
    filter: brightness(50%);
}

td.bgred {
    background-color: red;
}

td.bgblue {
    background-color: blue;
}

td.bgyellow {
    background-color: yellow;
}