.darkBackColor {
    background-color: #222;
    color: white;
}

.opac {
    filter: brightness(50%);
}

td.bgred {
    background-color: rgba(255, 0, 0, 0.795);
}

td.bgblue {
    background-color: rgba(0, 0, 255, 0.452);
}

td.bgyellow {
    background-color: rgba(255, 255, 0, 0.74);
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.table, .row {
    margin-bottom: 4rem;
}